
<form id="addQuestionForm">
<h2>Add Questions for '{{quiz.name}}' Quiz</h2>
	<!-- <h2 ng-bind="quiz.name"></h2>
	<h4 ng-bind="quiz.category"></h4> -->
	<div class="form-group">
		Type your Question here <input type="text"
			ng-model="question.questionContent" class="form-control" />
	</div>
	<div class="form-group">
		Comments / Hints <input type="text" ng-model="question.comments"
			class="form-control" />
	</div>
	<div class="form-group">
		Type of Answer <select ng-model="question.answerType" class="form-control">
			<option value="{{type}}" ng-repeat="type in answerType">{{type}}</option>
		</select>
	</div>
	<div class="form-group" ng-switch on="question.answerType">
		<div ng-switch-when="SUBJECTIVE">
			<input type="text" placeholder="answer" ng-model="question.options[0].answer" class="form-control" />
			<input type="number" placeholder="marks" ng-model="question.options[0].marks" class="form-control" />
		</div>
		<div ng-switch-when="OBJECTIVE_SINGLE_CHOICE">
				<input type="text" placeholder="answer" ng-model="question.options[0].answer" class="form-control" />
				<input type="number" placeholder="marks" ng-model="question.options[0].marks" class="form-control" />
				</div>
				<input type="text" placeholder="answer" ng-model="question.options[1].answer" class="form-control" />
				<input type="number" placeholder="marks" ng-model="question.options[1].marks" class="form-control" />
				</div>
				<input type="text" placeholder="answer" ng-model="question.options[2].answer" class="form-control" />
				<input type="number" placeholder="marks" ng-model="question.options[2].marks" class="form-control" />
				</div>
				<input type="text" placeholder="answer" ng-model="question.options[3].answer" class="form-control" />
				<input type="number" placeholder="marks" ng-model="question.options[3].marks" class="form-control" />
				</div>
		</div>
		<div ng-switch-default></div>
		
		<!-- Type your options below -->
		<!-- <c:forEach begin="1" end="5" varStatus="status">
							<div>
								<s:message code="label.option.${status.count}"
									text="Option ${status.count} " />
								<input ng-model="quiz.options[${status.count}].answer"
									class="form-control" />
								<input ng-model="quiz.options[${status.count}].marks"
									class="form-control" />
							</div>
						</c:forEach> -->
	</div>
	<div class="form-group">
		<input type="submit" class="btn btn-success" id="addQues"
			value="Add Question" ng-click="addQuestions()" />
	</div>
</form>
