
<form id="createQuizForm" >
	<div class="form-group">
		<label> Quiz Name </label> <input class="form-control" type="text"
			ng-model="quiz.name" />
	</div>
	<div class="form-group">
		<label ng-model="quiz.category"> Category </label> <input
			class="form-control" type="text" ng-model="quiz.category" />
	</div>
	<div class="form-group">
		<label ng-model="quiz.subCategory"> Sub Category </label> <input
			class="form-control" type="text" ng-model="quiz.subCategory" />
	</div>
	<div class="form-group">
		<label ng-model="quiz.typeOfQuiz"> Type of Quiz </label> <input
			class="form-control" type="text" ng-model="quiz.typeOfQuiz" />
	</div>
	<div class="form-group">
		<label ng-model="quiz.noOfQuestions"> Number of Questions </label> <input type="number"
			class="form-control" ng-model="quiz.noOfQuestions" />
	</div>
	<div class="form-group">
		<label ng-model="quiz.markingRequired"> Is Marking Required </label>
		<input type="checkbox" class="form-control" ng-model="quiz.markingRequired"
			value="true" />
	</div>
	<input type="submit" class="btn btn-success" value="Create a Quiz" ng-click="submitQuiz()"/>
</form>
